#reportbody{
    background-color: #52796F;
}
form{
   
    height: 500px;
    width: 600px;
   
    background-color: azure;
    padding: left 70px;;
    margin-left: 300px;
    align-items: center;
    align-self: center;
    justify-content: center;
}
#name{
    padding: left 70px;;
    margin-left: 300px;

}
.break {
    flex-basis: 100%;
    height: 0;
    width: 0;
}